:root {
  --main-black: #282828;
  --main-white: #fff;
  --main-gray: #b9c3c8;
  --gray-second: #7b8aa4;
  --main-bg-black: #242a37;
  --second-bg-black: #3e4e6c;
  --main-green: #24d40c;
  --main-blue: #00d7ff;
  --main-red: #db0837;
  --main-orange: #ff851c;
  --blue-second: #cdf7ff;
  --main-yellow: #fff6c0;
  --main-purple: #f8d2ff;
  --green-second: #d3f6ce;
  --task-bg-black: #15395a;
  --cubic: 250ms cubic-bezier(0.165, 0.84, 0.44, 1.03);
}
